*.pyc
__pycache__/
Pretrained_Models/
*.txt
*.log
*.json
*.model
*.pkl*
ffmpeg-git-20240629-amd64-static/qt-faststart
build/
scenic.egg-info/
build/lib/scenic/projects/knowledge_visual_language/configs/wit_retrieval_soft_g_froze_config.py
*.gz/
*.gz
*/*.mp4
*.npz
!Semantic_RDMs/semantic_rdm_all_classes.npz
!ontology.json
**/*.mp4/
*.mp4
**/*.mp4 
*.v2
*.gz
*.tfrecords
*.tfrecord
CheckPoints/
*.pb
*.aria2
scenic.egg-info/
train_tfrecords_local
scenic.egg-info/PKG-INFO
test_tfrecords_local
Audioset_test/data-00000-of-00001.tfrecord
